<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <meta http-equiv="Pragma" content="no-cache">
        <meta charset="UTF-8">
        <title>QAHelper</title>
        <link rel="stylesheet" href="./helper_main.css">
        <link rel="stylesheet" href="./helper_style.css">
        <link rel="stylesheet" href="./helper_filter.css">
        <link rel="stylesheet" href="./helper_studio.css">

        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    </head>
    <body>
        <div class="pageTitle">
            SODA/Tianyan QAHelper
        </div>
        <div class="mainContainer">
            <div class="mainTitle">
                Studio
            </div>
            <div class="showSchemeContainer">
                <div class="showSchemeRow">
                    <input type="text" size="150px" />
                    현재 스킴 실시간 보여주는 영역
                </div>
                <div class="qrcodeRow">
                    <button type="button">
                        QR Code
                    </button>
                </div>
            </div>
            <div class="showQrcodeColumn">
                <!-- QR Code 들어오는 자리 -->
                <img src="./qr_ex.png" width="200px" height="200px">
            </div>
            <hr size="2" width="100%" color="black">
            <div class="insertIdContainer">
                <div class="insertIdRow">
                    <input type="text" size="20px" />
                    스튜디오 템플릿 Id 입력 부분
                </div>
            </div>
            <hr size="2" width="100%" color="black">
            <div class="studioCategoryContainer">
                <div class="studioCategoryRow">
                    스튜디오 템플릿 카테고리 노출 영역
                </div>
            </div>
            <hr size="2" width="100%" color="black">
            <div class="studioContentsContainer">
                스튜디오 템플릿 리스트 노출 영역
                <div class="studioShowContentsContainer">
                    <div class="studioTemplateIdColumn">
                        스튜디오 템플릿 ID 노출 영역
                    </div>
                    <div class="studioStyleIdColumn">
                        템플릿의 스타일 ID 노출 영역
                    </div>
                    <div class="studioThumbnailColumn">
                        스튜디오 템플릿 썸네일 노출 영역
                    </div>
                    <div class="studioNameColumn">
                        스튜디오 템플릿 이름 노출 영역
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>