<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <meta http-equiv="Pragma" content="no-cache">
        <meta charset="UTF-8">
        <title>QAHelper</title>
        <link rel="stylesheet" href="./helper_main.css">
        <link rel="stylesheet" href="./helper_style.css">
        <link rel="stylesheet" href="./helper_filter.css">
        <link rel="stylesheet" href="./helper_studio.css">

        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    </head>
    <body>
        <div class="pageTitle">
            SODA/Tianyan QAHelper
        </div>
        <div class="mainContainer">
            <div class="mainTitle">
                Style
            </div>
            <div class="showSchemeContainer">
                <div class="showSchemeRow">
                    <input type="text" size="150px" />
                    현재 스킴 실시간 보여주는 영역
                </div>
                <div class="qrcodeRow">
                    <button type="button">
                        QR Code
                    </button>
                </div>
            </div>
            <div class="showQrcodeColumn">
                <!-- QR Code 들어오는 자리 -->
                <img src="./qr_ex.png" width="200px" height="200px">
            </div>
            <hr size="2" width="100%" color="black">
            <div class="schemeListContainer">
                <div class="schemeAutoDlBtnRow">
                    <button type="button" class="btnSetting">
                        <img src="./autoDlBtn.png" width="100px" height="100px" />
                    </button>
                </div>
                <div class="schemeManualDlBtnRow">
                    <button type="button" class="btnSetting">
                        <img src="./manualDlBtn.png" width="100px" height="100px" />
                    </button>
                </div>
                <div class="schemeInCameraBtnRow">
                    <button type="button" class="btnSetting">
                        <img src="./inCameraBtn.png" width="100px" height="100px" />
                    </button>
                </div>
                <div class="schemeOutCameraBtnRow">
                   <button type="button" class="btnSetting">
                       <img src="./outCameraBtn.png" width="100px" height="100px" />
                   </button> 
                </div>
            </div>
            <hr size="2" width="100%" color="black">
            <div class="insertIdContainer">
                <div class="insertIdRow">
                    <input type="text" size="20px" />
                    Style Id 입력 부분
                </div>
            </div>
            <div class="contentsListContainer">
                스타일 리스트 노출 영역
                <div class="categoryNameColumn">
                    카테고리 이름 노출 영역
                </div>
                <div class="showContentsContainer">
                    <div class="contentsIdColumn">
                        <컨텐츠 ID 노출 영역>
                    </div>
                    <div class="contentsThumbnailColumn">
                        컨텐츠 썸네일 노출 영역
                    </div>
                    <div class="contentsNameColumn">
                        <컨텐츠 이름 노출 영역>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>