.studioCategoryContainer {
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color: rgb(196, 247, 183);
    border-radius: 10px;
}

.studioCategoryRow {
    display: flex;
    padding: 10px;
    margin-right: 10px;
}

.studioContentsListContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: rgb(196, 247, 183);
    border-radius: 10px;
}

.studioShowContentsContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: teal;
    border-radius: 10px;
}

.studioTemplateIdColumn {
    display: flex;
    margin: 3px;
    font-size: x-small;
    background-color: wheat;
}

.studioStyleIdColumn {
    display: flex;
    margin: 3px;
    font-size: x-small;
    background-color: yellowgreen;
}

.studioThumbnailColumn {
    display: flex;
    margin: 3px;
    background-color: tomato;
}

.studioNameColumn {
    display: flex;
    margin: 3px;
    font-size: x-small;
    background-color: sandybrown;
}