.mainContainer {
    display: flex;
    flex: 2;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    background-color: rgb(139, 214, 243);
    border-radius: 10px;
}

.mainTitle {
    font-size: x-large;
    text-align: left;
    margin: 10px;
}

.showContentsContainer-div {
    display: inline-flex;
}

.showSchemeContainer, .schemeListContainer, .insertIdContainer {
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color: rgb(196, 247, 183);
    border-radius: 10px;
}

.showSchemeRow, .qrcodeRow, .insertIdRow {
    display: flex;
    padding: 10px;
    margin-right: 10px;
}

.showQrcodeColumn {
    display: flex;
    margin: 20px;
    background-color: white;
}

.schemeAutoDlBtnRow, .schemeManualDlBtnRow, .schemeInCameraBtnRow, .schemeOutCameraBtnRow {
    display: flex;
    padding: 10px;
    margin-right: 10px;
}

.contentsListContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: rgb(196, 247, 183);
    border-radius: 10px;
}

.categoryNameColumn {
    display: flex;
    margin: 10px;
    background-color: thistle;
}

.showContentsContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: teal;
    border-radius: 10px;
}

.contentsIdColumn {
    display: flex;
    margin: 3px;
    font-size: x-small;
    background-color: wheat;
}

.contentsThumbnailColumn {
    display: flex;
    margin: 3px;
    background-color: tomato;
}

.contentsNameColumn {
    display: flex;
    margin: 3px;
    font-size: x-small;
    background-color: wheat;
}

